/*
	Here you can override the theme's CSS
*/

/* Variables */
body {
	--main-color: black;
	--second-color: #A30006;
	--nav-background-color: #070707;
	--nav-color: #fefefe;
	--nav-hover-color: #d10a07;
}

body { background-image: url(/images/paper.png); background-repeat: repeat; }
.pagination { font-weight: bold; text-align: center; }
.pagination a { color: var(--second-color); }
.sidebar h2 { color: var(--second-color); }
.sidebar h2, .sidebar h3 { text-transform: uppercase; }
.read-more-link { background-color: var(--second-color); color: white; }
.pillar-widget > .pure-u-1:hover .menu-header { transition: color 0.5s ease; color: var(--second-color); }

/* Navigation custom */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link::after { font-family: "FontAwesome"; content: "\f0d7"; }
#menu-nav-main { background-color: var(--nav-background-color); color: var(--nav-color); }
#menu-nav-main .pure-menu-link:hover { background-color: var(--nav-hover-color); }
#menu-nav-main .pure-menu-children > .pure-menu-item { border-left: 2px solid black; border-right: 2px solid black; background-color: var(--nav-background-color); }
#menu-nav-main .pure-menu-children > .pure-menu-item:first-child { border-top: 1px dashed black; }
#menu-nav-main .pure-menu-children > .pure-menu-item:last-child { border-bottom: 2px solid black; }
.pure-menu-link, #pure-menu-open { font-weight: bolder; text-transform: uppercase; font-family: "Fjalla One", sans-serif; }

/* Title */
.post .title, .post-summary .title { text-transform: uppercase; color: var(--second-color); text-align: center; }

/* Add a seperation between articles (summary) */
.post-summary:not(:first-child) { border-top: 2px solid black; }

/* Couleur des liens dans les articles */
.e-content a { color: var(--second-color); font-weight: bold; }

/* Alternate left and right for post (summary) */
@media screen and (min-width: 48em) {
	.post-summary:nth-of-type(odd) .post-summary-meta { float: left; }
	.post-summary:nth-of-type(even) .post-summary-meta { float: right; }
}

@media screen and (min-width: 48em) {
	/* Remove read-more link on big screens */
	.read-more { display: none; }
	/* Spacing between image and title on big screens (summary) */
	margin-top: 0;
}

/* Default spacing between article image and title (summary) */
.post-summary-content { margin-top: 0.5em; }
